.profil-navigation {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;

  .nav-item {
    padding: 8px 15px;
    background-color: white;
    border-radius: 5px;
    color: var(--dark-color);
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

    &:hover,
    &.active {
      background-color: var(--primary-color);
      color: white;
    }
  }
}
