.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .loading-content {
    text-align: center;

    .loader {
      width: 80px;
      height: 80px;
      background-color: white;
      margin: 0 auto 20px;
    }

    h2 {
      color: white;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
