.anime-character {
  // Posisi dan ukuran diatur oleh parent (HeroSection.scss)
  // File ini hanya untuk styling dasar yang tidak berhubungan dengan layout
  cursor: pointer;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
