.anime-character {
  cursor: pointer;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

    margin-top: 7rem;
    margin-left: 5rem;

    @media (max-width: 768px) {
      margin-top: 3rem; // lebih rapat
      margin-left: 0;
      transform: scale(1.15); // ⬅️ MEMBESAR
    }

    @media (max-width: 480px) {
      transform: scale(1.25); // ⬅️ lebih besar lagi
    }
  }
}
