@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Define variables */
:root {
  --primary-color: #4f46e5;
  --secondary-color: #10b981;
  --dark-color: #1f2937;
  --light-color: #f9fafb;
}
